<!-- Hero Section -->
<section class="hero-section d-flex align-items-center">
  <div class="">
    <div class="row align-items-center">
      <div class="col-6 col-md-7">
        <h1 class="display-5 font-weight-800 mb-32">Collectible Sneakers</h1>
        <p class="mb-32 font-weight-normal">
          Sit elit feugiat turpis sed integer integer accumsan turpis. Sed
          suspendisse nec lorem mauris. Pharetra, eu imperdiet ipsum ultrices
          amet.
        </p>
        <div class="mb-32 btn-div d-flex g-3">
          <a href="#" class="btn btn-primary btn-lg mr-3 fw-medium"
            >Sign up now</a
          >
          <a
            href="#"
            class="btn btn-outline-secondary btn-lg d-flex align-items-center lh-base"
            ><img
              src="/assets/play-circle.svg"
              alt="play circle"
              class="me-2"
            />Watch Demo</a
          >
        </div>
      </div>
      <div class="col-6 col-md-5 d-flex justify-content-center">
        <img src="/assets/Col.png" class="img-fluid" alt="Sneaker Image" />
      </div>
    </div>
    <div class="row text-center mt-5 d-flex justify-content-between">
      <div class="col-md-4">
        <div class="icon-container text-start">
          <img src="/assets/Icon_1.svg" alt="Icon 1" class="icon" />
          <img
            src="/assets/Rectangle 25.svg"
            alt="Icon 25"
            class="icon overlapping"
          />
        </div>
        <h5 class="text-start">Nibh viverra</h5>
        <p class="text-start">
          Sit bibendum donec dolor fames neque vulputate non sit aliquam.
          Consequat turpis natoque leo, massa.
        </p>
      </div>
      <div class="col-md-4">
        <div class="icon-container text-start">
          <img src="/assets/Vector.png" alt="Icon 2" class="icon" />
          <img
            src="/assets/Rectangle 26.svg"
            alt="Icon 26"
            class="icon second-icon"
          />
        </div>
        <h5 class="text-start">Cursus amet</h5>
        <p class="text-start">
          Sit bibendum donec dolor fames neque vulputate non sit aliquam.
          Consequat turpis natoque leo, massa.
        </p>
      </div>
      <div class="col-md-4">
        <div class="icon-container text-start">
          <img src="/assets/tv.svg" alt="Icon 3" class="icon" />
          <img
            src="/assets/Rectangle 27.svg"
            alt="Icon 26"
            class="icon overlapping"
          />
        </div>
        <h5 class="text-start">Ipsum fermentum</h5>
        <p class="text-start">
          Sit bibendum donec dolor fames neque vulputate non sit aliquam.
          Consequat turpis natoque leo, massa.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Best Section -->
<section class="best-section py-5 text-white">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2>The best of the best</h2>
      <a href="#" class="btn btn-outline-light">Sign up now</a>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card bg-dark text-white mb-4">
          <img src="product1.jpg" class="card-img-top" alt="Product 1" />
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">
              Egestas elit dui scelerisque ut eu purus aliquam vitae habitasse.
            </p>
            <a href="#" class="btn btn-outline-light btn-block">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-dark text-white mb-4">
          <img src="product2.jpg" class="card-img-top" alt="Product 2" />
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">
              Egestas elit dui scelerisque ut eu purus aliquam vitae habitasse.
            </p>
            <a href="#" class="btn btn-outline-light btn-block">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-dark text-white mb-4">
          <img src="product3.jpg" class="card-img-top" alt="Product 3" />
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">
              Egestas elit dui scelerisque ut eu purus aliquam vitae habitasse.
            </p>
            <a href="#" class="btn btn-outline-light btn-block">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
